.wrapper-btn {
  padding: 5px;
  border-radius: 5px;
  border-color: transparent;
  transition: border-color 0.3s;
  width: 130px;
}
.wrapper-btn:hover {
  padding: 5px;
  border-radius: 5px;
  border-color: #eee;
  cursor: pointer;
}
body {
  overflow-y: overlay;
}
