.form {
	&__conteiner{
	width: 100%;
	background-color: rgba(0, 0, 0, 0.233);
	height: 100vh;
	padding-top: 5vh;
	position: fixed;
	top: 0;
	left: 0;
	//display: none;
	}
	&__content {
	  margin: 0 auto;
	  width: 630px;
	  background-color: #fff;
	  padding: 30px 0 30px 0;
	  gap: 15px;
	  display: flex;
	  flex-direction: column;
	  align-items: center;
	  justify-content: center;
	  text-align: center;
	  border-radius: 10px;
	  @media (max-width: 800px) {
		width:70%;
  
  
	  }
	}
	&__item {
		width: 50%;
		padding: 16px;
		border-radius: 12px;
		font-size: 18px;
	  @media (max-width: 700px ) {
		width: 75%;
		
	}
	}
	&__title {
	  margin-bottom: 20px;
	  font-size: 30px;
	  color: #443e3e;
	  padding: 0 15px;
	  @media (max-width: 450px ) {
		  font-size: 20px;
		  
	  }
	}
	&__btns {
	  display: flex;
	  justify-content: space-around;
	  width: 50%;
	  @media (max-width: 700px ) {
		width: 75%;
		
	}
	  
	}
	&__btn {
	  width: 70px;
	  width: 40%;
	  padding: 10px;
	  cursor: pointer;
	  border-radius: 5px;
	  border-color: transparent;
	  @media (max-width: 450px ) {
		padding: 5px;
		
	}
	}
	&__error{
		transform: translateY(-7px) translateX(-67px);
		color: red;
		@media (max-width: 500px) {
			transform: translateY(-7px) translateX(-21px);
		}
	}
	&__messege{
		display: block;
		position: absolute;
	}
  }

  