*::after,
*::before{
    box-sizing:border-box;
}
.page-body{
    max-width: 1900px;
}
.header-top{
    display: flex;
    justify-content: space-between;
    background-color: #313131;

}
.header-logo{
    display: flex;
    align-items: center;
}
.header-logo__img{
    padding-left: 28px;
    padding-right: 28px;

}
.header-logo__tex {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
}
.header-search{
    background-color: #000;
    width: 68px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;

}
.header-nav__link{
    font-family: Open Sans;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;   
    padding-right: 35px; 
}
.header-nav__link:hover{
    color: #14B9D5;
}
.header-bottom{
    background: url(../images/header-background.png) no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;   
    height: 368px; 
}
.header-bottom__text{
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    margin-top: 164px;
    margin-bottom: 60px;
}
.header-bottom__link{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-decoration: none;
}
.link-left{
    padding: 16px 19px 17px 19px;
    background-color: #89CA62;
    margin-right: 20px;
}
.link-right{
    padding: 16px 29px 17px 30px;
    background-color:  #14B9D5;
}
.conteiner{
    background: #F2F2F2;
}
.images{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    max-height: 896px;
    flex-direction: column;
    align-content: center;
}
.title{
font-weight: bold;
font-size: 27px;
line-height: 37px;
text-transform: uppercase;
color: #18B4CF;
padding-top: 49px;
margin-bottom: 52px;
text-align: center;
}
.images-top{
display: flex;
flex-direction: column;
width: 370px;
max-height: 450px;
background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
margin-bottom: 30px;
}
.image-description{
font-weight: bold;
font-size: 18px;
line-height: 25px;
margin: 20px auto;
color: #353A3D;
}
.images-top:not(:nth-child(5)):not(:nth-child(6)){
    margin-right: 30px;
}

.clients{
    background: url(../images/Layer\ 4\ 1.png) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.clients::before{
    content: "" ;
    width:60px;
    height: 3px;
    position: absolute;
    top: 237px;
    left: 50% (+30px);
    background-color: #18B4CF;
}
.title-text{
font-weight: bold;
font-size: 32px;
line-height: 44px;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 108px;
margin-bottom: 196px;
}
/* .title-text::before{
    width: 60px;
    height: 3px;
    background-color: #18B4CF;
    top: 50%;
    left: 50%;

} */
.clients-content{
    margin-bottom: 191px;
    display: flex;
    align-items: center;
}
.clients-content__img:not(:last-child){
    margin-right: 58px;
}
.clients-content__img:last-child{
    margin-left: -8px;
}
.top-rated__conteiner{
    background: #E5E5E5;
}
.top-rated{
    display: flex;
    
}
.top-rated__img{
    max-width: 14.3%;
    object-fit: cover;
}
.news__conteiner{
    margin: 0 auto;
    max-width: 1168px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "hot-news__content1 hot-news__content1 hot-news__content1 hot-news__content2"
    "hot-news__content3 hot-news__content3 hot-news__content4 hot-news__content4"
    "hot-news__content5 hot-news__content5 hot-news__content6 hot-news__content6"
    "hot-news__content7 hot-news__content8 hot-news__content8 hot-news__content8";
    grid-gap: 60px;
}
.hot-news__content1{
    grid-area:hot-news__content1 ;
}
.hot-news__content2{
    grid-area:hot-news__content2 ;
}
.hot-news__content3{
    grid-area:hot-news__content3 ;
}
.hot-news__content4{
    grid-area:hot-news__content4 ;
}
.hot-news__content5{
    grid-area:hot-news__content5 ;
}
.hot-news__content6{
    grid-area:hot-news__content6 ;
}
.hot-news__content7{
    grid-area:hot-news__content7 ;
}
.hot-news__content8{
    grid-area:hot-news__content8 ;
}

.hot-news__h3{
    padding-top:14px;
    padding-bottom: 14px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.hot-news__p{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
[class^="hot-news__content"].flex-max{
    display: flex;
    max-width: 856px;
    max-height: 259px;
}
.hot-news__text.flex-max{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 24px;
}

.hot-news__h3.flex-min{
    padding-bottom: 10px;

    text-align: center;
}
.hot-news__img.flex-min{
    max-width: 100%;
}
[class^="hot-news__content"]{
    background: #F9F7F7;
    max-width: 554px;
}
.hot-news__text{
    text-align: end;
    padding-right: 14px;
}
.footer{
    background-color: #000;
    margin-top: 77px;
}
.footer-conteiner{
    height: 80px;
    margin: 0 auto;
    max-width: 1168px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-text{
    font-size: 13px;
    line-height: 13px;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}
