.body{
	background: #000;
	width: 100%;
	height: 100%;
	overflow: hidden;

}
.conteiner {
	width: 950px;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	height: 800px;
	color: #FBCF00;
	font-family: sans-serif;
	font-size: 50px;
	line-height:150% ;
	font-weight: 600;
	perspective: 400px;
	overflow: visible;
	
	
	
}
.star-wars__title{
	text-align: center;
}
.title-h3{
	margin-bottom: 30px;
}
.title-h1{
	margin-bottom: 50px;
}
.star-wars__text{
	margin-bottom: 50px;
}
.star-wars{
	position: relative;
	animation:star-wars 30s cubic-bezier(.12,.02,.89,.86) infinite;
}
@keyframes star-wars{
	0% {
    bottom:-700px;
    transform: rotateX(40deg)  translateZ(520px);
  }
	100% { 
    bottom:900px;
    transform: rotateX(39deg) translateZ(-500px);
  }
}