.content {
  &__conteiner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
  &__item {
    width: calc((100% - 40px) / 3);
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
  }
  &__item-info {
    color: #443e3e;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 1.5rem;
  }
  &__item-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  //  &__img-conteiner {
  //  }
  &__img {
    width: 100%;
    height: 300px;
  }
  &__item-star.active {
    fill: #ee1;
  }
  &__item-star.active:hover {
    fill: #ee1;
    transition: fill 0.3s;
  }
  &__item-star:hover {
    fill: #eec;
    cursor: pointer;
  }
  &__item-btn {
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
    transition: border-color 0.3s;
  }
  &__item-buttons {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 100px;
  }
}
