<div class="footer__conteiner">
	<div class="footer__content">
		<div class="footer__title title">
			- get in touch with us -
		</div>
		<p class="footer__text">
			Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. <span>Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</span> 
		</p>
		<div class="footer__icons">
			<a href=""><img src="./img/footer/Facebook.png" alt="Facebook"></a> 
			<a href=""><img src="./img/footer/RSS.png" alt="RSS"></a> 
			<a href=""><img src="./img/footer/Twitter.png" alt="Twitter"></a> 
			<a href=""><img src="./img/footer/Dribbble.png" alt="Dribbble"></a> 
			<a href=""><img src="./img/footer/Pinterest.png" alt="Pinterest"></a> 
		</div>
		<div class="footer__contact">
			<a href="" class="footer__contact-addres">Moonshine St. 14-05 Light City   /</a>
			<a href="" class="footer__contact-tel"> T. +00 (123) 456 78 90   /</a>
			<a href="" class="footer__contact-mail">first.last@email.com</a>
		</div>
		
	</div>
</div>