<header class="header-container container">
		<!--<button class="nav-tgl" type="button" aria-label="toggle menu">
			<span aria-hidden="true"></span>
		</button>-->
		<div class="burger-menu">
			<spam href="" class="burger-menu-button">
			  <spun class="burger-menu-lines"></spun>
			</spam>
		</div>
		<nav class="header__nav" >
			<a href="" class="header__item">Home</a> 
			<a href="" class="header__item">About Us</a> 
			<a href="" class="header__item">Our Journal</a> 
			<a href="" class="header__item">Projects</a> 
			<a href="" class="header__item">news</a> 
			<a href="" class="header__item">features</a> 
			<a href="" class="header__item">contact</a> 
		</nav>
		<div class="header__fon">
			<img src="./img/header-fon.png" alt="" class="header__img">
		</div>
	
</header>
