
.focus-activ{
	border: 2px solid green;
	border-radius: 4px;
}
.result {
	opacity: 0;
}

.result-active {
	opacity: 1;
}
#error{
	opacity: 0;

}
#error.active {
	opacity: 1;
}

.error-input {
	border: 2px solid #ff0000;
	border-radius: 4px;
} 
.input{
	width: 4rem;
	height: 1rem;
}
.input-conteiner{
	width: 10rem;
	height: 3rem;
	background-color: #c5bebe;
	display: flex;
	justify-content:space-around;
	align-items: center;
	margin: 10px;
}
.input-text{
	color: #fff;
	font-size: 20px;

}
.error{
	color: #ff0000;
	margin-left: 10px;
}
.button-result{
	background-color: #fff;
	color: #c5bebe;
	border: 1px solid #c5bebe;
	border-radius: 4px;
	margin-left:10px ;
	padding: 3px 7px 3px 7px;
}
.span-result{
	color: #c5bebe;
	border: 1px solid #c5bebe;
	border-radius: 4px;
	padding: 3px;
	font-size: 16px;
}