.header {
  margin-bottom: 30px;
  background-color: #eee;
  padding: 30px;

  &__nav {
    margin: 0 auto;
  }
  &__items {
    display: flex;
    //gap: 30px;
    justify-content: center;
  }

  &__item-link {
    color: #000;
    padding: 15px;
    transition: all 0.3s;
    :hover {
      cursor: pointer;
    }
  }
  &__item-link.active {
    background-color: #d9d9d9;
  }
}
