

.centered-content {
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 800px;
	margin: 0 auto;
}

.tabs {
	display: flex;
	cursor: pointer;
	list-style: none;
	padding-left: 0;
}

.tabs-title {
	padding: 20px;
	background-color: #23201D;
	color: #937341;
	cursor: pointer;
}

.tabs-title.active {
	background-color:#937341 ;
	color: #23201D;

}
.tabs-description{
	display: none;
	
}
.tabs-description.active{
	display: block;
	background-color:#937341 ;
	padding: 30px;
	font-size: 20px;
}

