.modal {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.233);
  height: 100vh;
  padding-top: 50px;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  &__dialog {
    margin: 0 auto;
    width: 400px;
    background-color: #fff;
    padding-bottom: 10px;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title {
    padding-left: 10px;
  }
  &__close {
    padding: 5px;
    background-color: rgb(68, 62, 62);
    cursor: pointer;
    align-self: flex-start;
  }
  &__footer-btns {
    display: flex;
    justify-content: space-around;
  }
}
.modal.open {
  height: 100vh;
  display: block;
}
