*{
	box-sizing: border-box;
}
.page-body{
	font-family: 'Ubuntu', sans-serif;
	background: url(../images/img.png);
	background-size: cover;}
.header{
	background: rgba(0, 0, 0, 0.4);

}
.header-conteiner{
	width:calc(100% - (79px * 2)) ;
	margin: 0 auto; 
	display: flex;
	justify-content: space-between;
}
.logo{
	font-weight: bold;
	font-size: 22px;
	line-height: 22px;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 18px;
	padding-top: 18px;
}
.logo:hover{
	color: #236d47;
}
.header-menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-menu__svg{
	padding-right: 25px;
}
.header-menu__svg:hover .fill{
	fill:#236d47;
}


.header-menu__text {
	display: flex  ;
	padding-left: 27px;
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 14px;
	position: relative;
}
.authorization{
	font-size: 14px;
	line-height: 14px;
	color: #FFFFFF;
}
.authorization:hover{
	color: #236d47;
}
.header-menu__text::after{
	position: absolute;
	content: "";
	width: 1px;
	height: 19px;
	left:0px;
	top: 0;
	
	background: rgba(255, 255, 255, 0.9);
	mix-blend-mode: normal;
	opacity: 0.5;}
.main{
	width: 444px;
	height: 584px;
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 74px;
	margin-top: 54px;
	padding: 31px 60px 38px 60px;
	position: relative;
}
.main::after{
	content: "";
	position: absolute;
	width: 18px;
	height: 18px;
	left: 0px;
	top: 29px;
	background: #3CB878;
}
		/*form*/

.info{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sign-up {
	font-size: 20px;
	line-height: 20px;
	color: #434343;
}
.log-in {
	font-size: 14px;
	line-height: 14px;
	color: #3CB878;
}
.socials{
	display: flex;
	justify-content: space-between;
}
.button-text {
		font-size: 16px;
		/*line-height: 16px;*/
		color: #FFFFFF;
		/*padding: 17px ;*/
}
.button{
	margin-top: 15px;
	width:calc(50% - 2px);
	display: flex;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	position: relative;
}
.button::after{
	content: "";
	position: absolute;
	width: 1px;
	height: 28px;
	left: 48px;
	top: 10px;
	background: #0A162F;
	mix-blend-mode: normal;
	opacity: 0.1;
}
.img__wrap{
	width: 49px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.text__wrap{
	width: 100%;
}
.button-right{
	background: #C6422C;
}
.button-left{
	background: #294F9D;
}
.span-or{
	margin-left: calc(50% - 5px);
	display: inline-block;
	margin-top: 31px;
	margin-bottom: 11px;
	position: relative;
	font-size: 14px;
	line-height: 14px;
	color: #848484;
}
.span-or::after, .span-or::before{
	content: "";
	position: absolute;
	top:9px;
	height: 1px;
	background: #F2F2F2;
}
.span-or::after{
	right: 18px;
	width: 153px;
}
.span-or::before{
	left:18px;
	width: 149px;
}
.form-input{
	width: 324px;
	height: 46px;
	background: #FFFFFF;
	border: 1px solid #F2F2F2;	border-radius: 4px;
	margin-bottom: 15px;
}
.form-input:focus{
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.checkbox{
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background: rgba(0, 0, 0, 0.0001);
	border: 1px solid #F2F2F2;
}
.form-label{
	display: flex;
	align-items: center;
}
.checkbox-text{
	font-size: 14px;
	line-height: 14px;	
	color: #434343;
	margin-left:28px;
}
.checkbox-link{
	color: #3CB878;
}
.checkbox-block{
	width: 20px;
	height: 20px;
	margin-left: -22px;
}
.checkbox:checked + .checkbox-block{
	background: url(../images/Vector1.png) no-repeat ;
	background-position-x: 1px;
	background-position-y: 2px;
}
.main-link{
	font-size: 16px;
	line-height: 16px;
	color: #FFFFFF;
	width: 100%;
	height: 46px;
	background: rgba(60, 184, 120, 0.8);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}