*::after,
*::before{
    box-sizing:border-box;
}
.link:hover{
    color: #F26522;
}
.header-logo__img:hover{
    background: url(../images/logo\2.png);
}
.page-body {
    max-width: 1366px;
    background:url(../images/background.png) ;
    background-size: cover;
    font-family: 'Roboto', Arial, sans-serif ;
}
.general{
    width: 1030px;
    margin: 0 auto;
}
.link{
    color: #FFFFFF;
}
.header {
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 17px;
    height: 61px;
}
.header-logo {
    display: flex;
    align-items: center;
}
.logo-text {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    padding:5px 0 5px 61px ;
    background: url(../images/logo3.png)no-repeat;
    background-position-y:12px ;
}
.logo-text:hover{
    background: url(../images/logo2.png)no-repeat;
    background-position-y:12px ;
}
.logo-text__span{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
[class^="header-contacts"]{
    color: #FFFFFF;
}
.section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    grid-column-gap: 62px;
    grid-row-gap: 78px;
}
.main-content__text{
    text-align: center;
    margin-top: 20px;
}
.main-content__img{
    width: 100%;
    display:block;
}
.position{
    display: block;
    position: relative;
    overflow: hidden;
}
.position:hover .info{
    bottom:0;   
}
.footer{
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 15px;
}
.footer-text{
    color: #FFFFFF;
    font-size: 12px;
    line-height: 12px;
}
.info{
    color: #FFFFFF;
    background: #F26522;
    display: flex;
    justify-content:space-between ;
    align-items: flex-end;
    padding: 7px 37px 12px 16px;
    position: absolute;
    bottom:-100% ;
    transition: 0.7s ease-in-out 0.2s;
    width:calc(100% - 53px);
}
.from{
    padding-bottom: 8px;
    display: inline-block;
}
.prise {
    font-size: 20px;
    line-height: 20px;
}
.details{
    position: relative;
}
.details::after,.details::before{
    content:"";
    position: absolute;
    width: 6px;
    background-color: #FFFFFF;
    height: 1px;
    right: -20px;
}
.details::after{
    transform: rotate(45deg);
    top:6px;
}
.details::before{
    bottom: 0;
    transform: rotate(-45deg);
    top:10px;
}
.img-border{
    position: relative;
}
.img-border::before,.img-border::after{
    content:"";
    position: absolute;
    
    height: 100%;
    width: 3px;
    background-image: linear-gradient(to top, rgba(36, 36, 36, 0.75), rgba(54, 54, 54, 0.8), rgba(73, 72, 72, 0.85), rgba(91, 90, 91, 0.9), rgba(110, 108, 109, 0.95), rgb(128, 126, 127), rgb(149, 148, 148), rgb(170, 169, 170), rgb(192, 191, 191), rgb(213, 212, 212), rgb(234, 234, 234), rgb(255, 255, 255));
    
}
.img-border::before{
    left: 0;
    top: 0px;
}
.img-border::after{
    left:calc(100% - 3px);
    top: 0;
}