.footer {
  // .footer__conteiner

  &__conteiner {
    max-width: 100%;
    background-color: #000;
    padding: 66px 0 70px 0;
    @media (max-width: 320px) {
      padding: 38px 0 47px 0;
    }
  }

  // .footer__content

  &__content {
    max-width: 684px;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 320px) {
      max-width: 280px;
    }
  }

  // .footer__text

  &__text {
    @include contact-style(16, 28, $color3);
    @media (max-width: 320px) {
      @include contact-style(12, 20, $color3);
      span {
        display: none;
      }
    }
  }

  &__title {
    margin: 0 0 22px 0;
  }

  // .footer__icons

  &__icons {
    margin: 37px 0 34px 0;
    @media (max-width: 320px) {
      margin: 25px 0 25px 0;
    }
  }

  &__icons a {
    margin-right: 5px;
    :last-child {
      margin-right: 0;
    }
  }

  // .footer__contact

  &__contact {
    @media (max-width: 320px) {
      display: flex;
      flex-direction: column;
    }
  }

  // .footer__contact-addres

  &__contact-addres,
  &__contact-tel,
  &__contact-mail {
    @include contact-style(16, 26, $color3);

    @media (max-width: 320px) {
      @include contact-style(14, 24, $color3);
    }
  }
}
