.burger-menu-button {
  position: absolute;
  top: 23px;
  right: 0;
  z-index: 30;
  width: 44px;
  height: 37px;
  background-color: #000;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  display: none;
  @media (max-width: 620px) {
    display: block;
  }
}
.burger-menu-lines::before,
.burger-menu-lines::after,
.burger-menu-lines {
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.burger-menu-lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu-lines::before {
  content: "";
  top: -4px;
}
.burger-menu-lines::after {
  content: "";
  top: 4px;
}
.burger-menu-active .burger-menu-lines {
  background-color: transparent;
}
.burger-menu-active .burger-menu-lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu-active .burger-menu-lines::after {
  top: 0;
  transform: rotate(-45deg);
}
