@import "header__burger.scss";

.header-container {
  padding-top: 45px;
  @media (max-width: 768px) {
    padding-top: 41px;
  }
}

.header {
  // .header__nav
  &__nav {
    display: flex;
    column-gap: 67px;
    justify-content: center;
    :first-child {
      color: $color2;
    }
    @media (max-width: 768px) {
      column-gap: 34px;
    }
    @media (max-width: 620px) {
      width: 182px;
      background-color: #f5f5f5;
      padding-top: 5px;
      position: absolute;
      right: -200px;
      top: 60px;
      flex-direction: column;
      row-gap: 8px;
      transition: right 1s;
      &-active {
        right: 0;
      }
    }
  }
  // .header__item

  &__item {
    @include contact-style(11, 22, $color1);
    text-transform: uppercase;
    letter-spacing: 1.1px;
    @media (max-width: 620px) {
      padding-left: 13px;
      &:hover,
      &:active {
        background-color: #e5e5e5;
      }
    }
  }

  // .header__fon

  &__fon {
    margin-top: 51px;
    @media (max-width: 768px) {
      margin-top: 43px;
    }
  }

  // .header__img

  &__img {
    width: 100%;
  }
}
