$color1: #4e4e4e;
$color2: #57a4a4;
$color3: #b9b9b9;
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: $color1;
}
@mixin contact-style($size, $line, $color) {
  font-size: $size + px;
  line-height: $line + px;
  color: $color;
}
