@import "reset.scss";

@import "per.scss";
.body {
  font-family: Roboto;
}
@import "header.scss";

@import "footer.scss";
.posts {
  // .posts__conteiner

  &__container {
    margin: 65px auto 69px;
    @media (max-width: 768px) {
      margin: 56px auto 60px;
    }
    @media (min-width: 1200px) {
      max-width: 1200px;
    }
  }

  // .posts__title

  //&__title {
  //  margin-top: 66px;
  //}

  // .posts__block

  &__block {
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    @media (max-width: 768px) {
      flex-direction: column;
    }
    @media (min-width: 769px) {
      :nth-child(2n) > img {
        margin-left: 30px;
      }
    }
    @media (max-width: 320px) {
      :nth-child(4) {
        display: none;
      }
    }
  }

  // .posts__item

  &__item {
    max-width: 50%;
    display: flex;
    @media (max-width: 767px) {
      max-width: 97%;
    }
    @media (max-width: 768px) {
      max-width: 73%;
    }
    @media (max-width: 374px) {
      flex-direction: column;
      max-width: 100%;
    }
    @media (max-width: 320px) {
      flex-direction: column;
      max-width: 100%;
    }
  }
  // .posts__img

  &__img {
    margin-right: 20px;
    cursor: pointer;
    @media (max-width: 374px) {
      max-width: 160px;
      margin-bottom: 11px;
    }
    @media (max-width: 320px) {
      max-width: 160px;
    }
  }

  // .posts__content--title

  &__content--title {
    @include contact-style(16, 30, $color1);
    font-weight: 700;
    @media (max-width: 320px) {
      @include contact-style(14, 30, $color1);
    }
  }

  // .posts__content--subtitle

  &__content--subtitle {
    @include contact-style(12, 20, #7c7c7c);
  }

  // .posts__content--text

  &__content--text {
    @include contact-style(14, 26, #5c5c5c);
    align-items: center;
    @media (max-width: 320px) {
      display: none;
    }
  }
}
.instagram {
  &__block {
    background-color: rgba(0, 0, 0, 0.03);
    max-width: 100%;
    padding-bottom: 50px;
  }
  // .instagram__titles

  &__titles {
    display: flex;
    justify-content: space-between;
    padding: 47px 0 24px;
  }

  // .instagram__subtitle

  &__subtitle {
    font-weight: 700;
    font-size: 13px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4e4e4e;
    @media (max-width: 510px) {
      display: none;
    }
  }

  // .instagram__images

  &__images {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1142px) {
      justify-content: space-around;
      :last-child {
        display: none;
      }
    }
    @media (max-width: 865px) {
      > img {
        max-width: 249px;
      }
    }
    @media (max-width: 760px) {
      :nth-child(3) {
        display: none;
      }
    }
    @media (max-width: 510px) {
      > img {
        display: none;
      }
      background: url(../img/instagram/instagram1.png);
      max-width: 300px;
      height: 300px;
      margin: 0 auto;
    }
    @media (max-width: 320px) {
      margin: 0;
    }
  }
}
//////////////////////////////////@at-root
