*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
}

.body{
	font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;

}	
.title{
	font-size: 36px;
	line-height: 40px;
	color: #4E4E4E;
	display: inline-block;
	position: relative
}
.title::before,
.title::after{
	content: "";
	position: absolute;
	width: 78px;
	height: 1px;
	background: #18CFAB
}
.body-conteiner{
	
	max-width:100% ;
	min-width: 1260px;

	
}
.header{
	width: 100%;
	height: 100%;
	background-image:url(../images/Sections/header.jpg) ;
}
.header-nav{
	display: flex;
	justify-content: space-evenly;
	background-color: rgba(94, 93, 88, 0.6);
	position: relative;
	
}
.header-logo{
	display: flex;
	align-items: center;
}
.logo-text{
font-size: 32px;
font-weight: 700;
line-height: 48px;
}
.header-img{
	padding: 37px 0px 37px 6px;
}
.header-images{
	position: relative;
}
.header-images::before{
	content:url(../images/header/H.png);
	position: absolute;
	top:19px;
	left:16px;
}
.header-menu{
	display: flex;
	align-items: center;
}    
.menu-content{
	margin-left: 21.9px;
	color: rgba(255, 255, 255, 0.6);
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	transition:color 0.7s;	
}

.menu-content:hover {
	color: rgba(24, 207, 171, 1);
	transition:all 0.7s;

}
.menu-content:hover::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	top: 45px;
	background-color:rgba(24, 207, 171, 1) ;
	/*transition:color 2s;*/


}
.menu-svg{
	fill: rgba(255, 255, 255, 0.6);
	margin-top: 4px;
	position: relative;
	transition:0.7s;
	cursor: pointer;
	transition:0.1s;


}
.menu-svg:hover{
	fill:rgba(24, 207, 171, 1);

}
.menu-svg:hover::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	top: 48px;
	background-color:rgba(24, 207, 171, 1) ;
	transition:all 0.7s;

}
.header-info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wordpress{
	color: rgb(255, 255, 255);
	font-weight: bold;
	font-size: 35px;
	text-transform: uppercase;
	line-height: 35px;
	margin-top: 164px;
}
.wordpress-color{
	color:hsl(168, 79%, 45%);
}
.creative{
	margin: 22px;
	font-weight: bold;
	font-size: 78px;
	line-height: 78px;
	text-transform: uppercase;
	color: #FFFFFF;
}
.tag-line{
	color: #C1C1C1;
	font-size: 33px;

}
.buttons{
	margin-top: 134px;
	margin-bottom: 243px;

}
.buttons:last-child{
	margin-left: 26px;
	
}
.button{
	width: 169px;
	height: 63px;
	background: rgb(24, 207, 171);
	font-weight: bold;
	font-size: 15px;
	line-height: 32px;
	color:rgb(255, 255, 255);
	border-radius: 4px;
	border-color:transparent ;
	border-top: 3px solid #fff;
	cursor: pointer;
	
}
.button-other-color{
	background: rgb(0, 203, 246);
}
/*///////////////////*/
.squares{
	display: flex;
	margin-top: 5px;
}
.square{
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 377px;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
}
.square:nth-child(1),
.square:nth-child(3){
	background-color: #1C2A33;
	color: #18CFAB;
}
.square:nth-child(2),
.square:nth-child(4){
	background-color: #18CFAB;
	color: #fff;
}
.square-text1,
.square-text3{
	padding-top:47px ;
}
.square-text2,
.square-text4{
	padding-top:59px ;
}

/*/////////////////*/
.our-services{
	max-width: 1160px;
	margin: 0 auto;
	margin-bottom: 90px;
}
.services-title{
	margin-top:83px;
	margin-bottom: 101px;
	margin-left:calc(50% - 113px) ;
}
.services-title::before{
	left: 65px;
	top: calc(100% + 24px);	
}
.services-title::after{
	left: 78px;
	top:calc(100% + 28px);
}

.services-menu{
	display: flex;
}
.services-list{
	font-size: 15.9859px;
	line-height: 39px;
	color: #717171;
	width: 193px;
	height: 72px;
	background: #F8FCFE;
	border: 1px solid #EDEFEF;
	display: flex;
	justify-content: center;
	align-items: center;
	transition:border 0.5s;
	
}
.services-list:hover{
	border: 1.5px solid #18CFAB;
	cursor: pointer;
}
.services-list.activ{
	background-color: #18CFAB;
	color: #fff;
	position: relative;
}
.services-list.activ::after {
    content: ""; 
    position: absolute; 
	left:calc(50% - 10px); 
	bottom: -20px; 
    border: 10px solid transparent; 
    border-top: 10px solid #18CFAB;
   }
.services-content{
	margin-top: 25px;
	display: none;
}
.services-content.activ{
	display:flex;
}
.services-content__text{
	font-weight: 300;
	font-size: 13.645px;
	line-height: 24px;
	color: #777777;
	margin-left: 15px;
	text-align: justify;
}
.purchase{
	background: url(../images/Sections/section-2.jpg) center no-repeat;
	background-size: cover;
	text-align: center;
	padding-bottom: 127px;
	
}
.title-purchase{
	font-weight: bold;
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #18CFAB;
	padding-top: 127px;
	padding-bottom: 12px;
}

.description-purchase{
	font-size: 16px;
	line-height: 40px;
	color: #D8D8D8;
	margin-bottom: 67px;
}

/*///////////////////////////////////////////////*/

.catalog-conteiner{
	background-color: #E9EDEF;
	padding-bottom: 99px;

}
.catalog{
	max-width: 1160px;
	margin: 0 auto;
}
.catalog-title{
	margin-top:95px;
	margin-bottom: 97px;
	margin-left:calc(50% - 173px) ;
}
.catalog-title::before{
	left: 124px;
	top: calc(100% + 20px);	
}
.catalog-title::after{
	left: 139px;
	top:calc(100% + 24px);
}
.catalog-menu{
	display: flex;
	margin-left:283px;
}
.catalog-link{
	font-size: 14px;
	line-height: 42px;
	color: #717171;
	padding: 13px 15px;
	border: 1px solid #DADADA;
	transition: 0.5s;

}
.catalog-link-active{
	border: 1px solid #18CFAB;
	color: #18CFAB;

}
.link-first{
	padding: 13px 28px;
}
.catalog-link:hover{
border: 1px solid #18CFAB;
color: #18CFAB;
cursor: pointer;

}
.catalog-content{
	display: flex;
	flex-wrap: wrap;
	margin-top: 71px;
}
.catalog-button{
	font-size: 14px;
	line-height: 42px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #18CFAB;
	padding: 13px 8px 8px 56px;
	position: relative;
	margin: 70px 0 0 calc(50% - 84px);
	border:1px solid transparent ;
	border-radius: 4px;
	cursor: pointer;
}
.first-button::after{
	content: url(../images/svg/Forma\ 1.png);
	position: absolute;
	top: 17px;
	left: 23px;
}
.second-button::after{
	content: '';
	position: absolute;
	left: 16px;
	width: 18px;
	height: 3px;
	top: 32px;
	background-color: #fff;
}
.second-button{
	/*opacity: 0;*/
	display: none;
}

.catalog-option {
	display: none;
	position: relative;
}
.catalog-option-active {
	display: flex;
}
.catalog-option__img{
	transition: all 0.7s;	
}
.catalog-option:hover .catalog-option__img{
	opacity: 0;
}
.catalog-option:hover .creative-transcrition{
	opacity: 1;
}
.creative-transcrition{
	position: absolute;
	opacity: 0;
	width: 100%;
	text-align: center;
	border-top: 6px solid #18CFAB ;
	transition: all 0.5s;
	top: 0;
}
.transcrition__link:nth-child(2){
	background-color: #18CFAB;
}
.transcrition-link__conteiner{
	margin: 42px 0 25px 0 ;
	
}
.transcrition__link{
	width: 40px;
	height: 40px;
	border: solid 1px #18CFAB;
	border-radius: 50%;
	display: inline-block;
	padding: 12px;
}
.creative-transcrition__text{
	font-weight: bold;
	font-size: 15px;
	line-height: 25px;
	text-transform: uppercase;
	color: #18CFAB;
}
.creative-transcrition__description{
	font-size: 12.1518px;
	line-height: 25px;
	color: #8A8A8A;
	font-weight: 300;
}

/*/////////////////////////////////////////////////////////////////*/

.news-title{
	margin-left: calc(50% - 136px);
	margin-top: 82px;
	
}
.news-title::after{
	left: 88px;
	top:calc(100% + 24px);
}
.news-title::before{
	left: 101px;
	top:calc(100% + 28px);
}
.news-conteiner__content{
	max-width: 1160px;
	margin: 100px auto 128px auto;
	display: flex;
	flex-wrap: wrap;
}
.news-content{
	color: #717171;
	position: relative;
	transition: 0.5s;
}
.news-content:not(:nth-child(4n)){
	margin: 0 36px 44px 0;
}
.news-content::after{
	content:"";
	width: 66px;
	height: 64px;
	background: url(../images/news/Date\ copy.png);
	position: absolute;
	top: 0;
	right: 0;
	transition: 0.5s;

}
.news-content__title{
	font-weight: bold;
	font-size: 18px;
	line-height: 39px;
	padding-left:8px ;
}
.news-content__text{
	font-size: 14px;
	line-height: 39px;
	color: #777777;
	padding-left: 8px ;
}
.news-content:hover{
	color: #18CFAB;
}
.news-content:visited{
	background: #F8FCFE;
	border: 1px solid #F2F4F5;
}
.news-content:hover .news-content__title{
	padding-left: 12px;
}
.news-content:hover::after{
	content:"";
	width: 66px;
	height: 64px;
	background: url(../images/news/Date.png);
	position: absolute;
	top: 0;
	right: 0;
	transition: 0.5s;
}
/* ////////////////////////////////////////// */



.reviews-conteiner{
	background: url(../images/Sections/section-3.jpg) center;
	padding-bottom: 104px;
}
.reviews{
	max-width: 1160px;
	margin: 0 auto;
}
.reviews-title{
	color: #FFFFFF;
	margin: 98px calc(50% - 294px) 168px ;
}
.reviews-title::after{
	left: 246px;
	top:calc(100% + 24px);
}
.reviews-title::before{
	left: 259px;
	top:calc(100% + 29px);

}
.reviews-text{
	font-weight: 300;
	font-size: 16px;
	line-height: 30px;
	color: #BBBBBB;
	position: relative;
}
.reviews-text::before{
	content: url(../images/reviews/`.png);
	position: absolute;
	top: -81px;
	left: calc(50% - 22px);
}
 

.slider{
    margin: auto;
	justify-content: center;
}
.slider-conteiner{
    position: relative;
	display: flex;
	position: relative;
	height: 200px;
	justify-content: center;
	margin-top: 25px ;


}
.item{
	text-align: center;
	position: absolute;
	opacity: 0;
	/*display: none;*/
	transition: all, 0.5s;
}
.item-active{
	opacity: 1;
	/*display: block;*/
}
.people-name{
	font-weight: bold;
	line-height: 27px;
	font-size: 16px;
	text-transform: uppercase;
	color: #18CFAB
}
.peopel-work{
	font-size: 14px;
	line-height: 39px;
	color: #777777;
	font-weight: 300;


}
.slider .item img {
	width: 142px;
    border:12px solid rgba(6, 95, 93, 0.57);
	border-radius: 50%;
}

.slider-dots {
    text-align: center;
	position: relative;
}
.arrows{
	top: 77px;
	display: inline-block;
	width: 33px;
	height: 33px;
	border:1px solid #BBBBBB;
	position: absolute;
	transition: all, 0.5s;
}
.arrows::before{
	content: '';
	display: inline-block;
	padding: 5px;
	border: solid #BBBBBB;
	border-width: 0 3px 3px 0;
	top: 10px;
	right: 11px;
	position: absolute;
	transition: all, 0.5s;

}
.arrow-prev::before{
	transform: rotate(135deg);
	left:11px;
	
}
.arrow-next::before{
	transform: rotate(-45deg);
}
.arrow-prev{
	left:305px;
}
.arrows:hover.arrows::before{
	border-color:#fff;
}
.arrows:hover{
	background-color: #18CFAB;
	border-color:#18CFAB ;
	cursor: pointer;
}

.slider-dot{
    cursor: pointer;
	border:5px solid rgba(6, 95, 93, 0.57);
    border-radius: 50%;
	margin-top: 57px;
	margin-right: 32px;
	transition: all 0.5s;
}
.dot-active, .slider-dot:hover{
	margin-bottom: 10px;
	margin-top: 47px;
}
/*////////////////////////////////////////*/
.gallery__title{

	margin: 109px calc(50% - 200px ) 115px ;
}
.gallery__title::before{
	left: calc(50% - 39px);
	top:calc(100% + 29px);
}
.gallery__title::after{
	left:calc(50% - 52px);
	top:calc(100% + 24px);
}
.gallery__conteiner{
	display: flex;
	width: 1160px;
	margin: 0 auto;
}

.gallery-column {
	width:33.33% ;
	margin-right: 20px;
}
.gallery-column:last-child{
	margin-right: 0;
}
.gallery__link{
	display: block;
	margin-bottom: 20px
}
.gallery__link:last-child{
	margin-bottom: 0px

}
.gallery-img{
	width: 100%;

}
.gallery__box-top{
	display: flex;
	max-height: 168px;
	margin-bottom: 3px;
}
.gallery-top__img{
	margin-right: 3px;
}
.gallery__box-center{
	display: flex;
	flex-wrap: wrap;
}
.box-center__img{
	width:119px;
	height: 92px;
	margin-right: 3px;
}
.gallery-end__link{
	width: 363px;
	margin-top:13px;
	display: block;
}
.gallery-button{
	margin-bottom: 67px;
}
/*//////////////////////////////////////////////////////////*/
.footer{
	background-color: rgba(34, 53, 63, 1);
	display: flex;
	justify-content: center;
}
.footer-tex{
	padding: 47px 0;
	font-weight: 300;
	font-size: 14px;
	line-height: 26px;
	display: flex;
	color: #AEAEAE;
	transition: color 2s;
}	

.footer-logo{
	margin: 0 4px 0 4px;
	color: #18CFAB ;
	cursor: pointer;
}


	