
body {
  overflow-y: overlay;
}
.messege{
  background-color: #008000de;
  padding: 28px;
  position: absolute;
  font-size: 2rem;
  color: darkgray;
  border-radius: 10px;
  top: 16%;
  left: 56%;
}
